@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Acrom';
	src: url('../fonts/Acrom-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}