*
  margin 0
  padding 0
  box-sizing border-box
  line-height 1
  font-family 'Inter', sans-serif
  color #000
  &:before
    box-sizing border-box
h1, h2, h3, h4, h5, h6
  margin 0
ul
  list-style none
a
  text-decoration none
img
  display block
text-transform()
  letter-spacing -0.05em
  text-transform uppercase
.wrapper
  min-height 100vh
  overflow hidden
.container
  max-width 1200px
  margin 0 auto
  padding 0 15px
.header
  position fixed
  width 100%
  top 0
  left 0
  z-index 111
  &.active
    position relative
  +element(inner)
    height 39px
    display flex
    justify-content space-between
    align-items center
    background-image linear-gradient(180deg, #FFE600 0%, #FFB800 100%)
    backdrop-filter blur(2px)
    padding 0 15px
  +element(item)
    display flex
    align-items center
    cursor pointer
  +element(item-text)
    font-weight 800
    font-size 13px
    text-transform()
    margin-left 10px
  +element(curtain)
    background-color rgba(0, 20, 49, 0.8)
    backdrop-filter blur(3.5px)
    &.active
      background-color #001431
  +element(curtain-inner)
    min-height 80px
    display flex
    flex-direction column
    justify-content center
    align-items center
    +mq(0, 1150px)
      min-height 140px
      align-items flex-start
      padding 20px 0
  +element(curtain-holder)
    width 100%
    display flex
    justify-content space-between
    align-items center
    gap 30px
    +modifier(mob)
      gap 0
      display none
      margin-top 10px
      +mq(0, 1150px)
        display flex
      .header__curtain.active &
        +mq(0, 767px)
          flex-direction column
          align-items flex-start
        
.logo
  display flex
  justify-content space-between
  align-items center
  margin-left 67px
  +mq(0, 1150px)
    display none
  +element(mob)
    display flex
    justify-content space-between
    align-items center
    +mq(0, 1150px)
      font-size 20px
      line-height 24px
  +element(text)
    font-size 16px
    line-height 19px
    text-transform()
    color #fff
    font-weight 800
    margin-left 16px
    +mq(0, 1150px)
      font-size 20px
      line-height 24px
    .header__curtain.active &
      display none
      +mq(0, 1150px)
        display block
      
.hero
  position relative
  background-image url(../img/hero.png)
  background-size cover
  background-repeat no-repeat
  background-position center top
  +element(inner)
    min-height 639px
    display flex
    align-items center
    padding 150px 0 30px
    margin-left 60px
    +mq(0, 1365px)
      justify-content center
      margin-left 0
    +mq(0, 1150px)
      min-height 500px
      flex-direction column
      align-items center
      padding-top 203px
  +element(desc-item)
    display flex
    justify-content space-between
    align-items center
    margin-top 38px
    +mq(0, 1150px)
      flex-direction column
      align-items center
      gap 13px
      margin-top 13px
  +element(desc)
    font-weight 300
    font-size 24px
    letter-spacing -0.05em
    color #fff
    +mq(0, 1365px)
      font-size 18px
    +mq(0, 1150px)
      font-size 15px
  +element(img-holder)
    height 165px
    width 165px
    border-radius 50%
    overflow hidden
    margin-right 38px
    margin-bottom 78px
    display flex
    justify-content center
    align-items center
    flex-shrink 0
    +mq(0, 1365px)
      height 125px
      width 125px
    +mq(0, 1150px)
      height 90px
      width 90px
      margin-bottom 26px
      margin-right 0
  +element(img)
    max-width 100%
  +element(slide-1)
    background-image url(../img/hero-1.jpg)

.title
  +element(main)
    font-weight 800
    font-size 72px
    color #fff
    text-transform()
    +mq(0, 1365px)
      font-size 58px
      line-height 1.2
    +mq(0, 1150px)
      font-size 35px
      text-align center
    span
      display block
      font-size 48px
      color #fff
      text-transform()
      +mq(0, 1365px)
        font-size 38px
      +mq(0, 1150px)
        font-size 28px
  +element(menu)
    +mq(0, 1150px)
      display none
    +modifier(mob)
      display none
      +mq(0, 1150px)
        display block
  +element(second)
    max-width 950px
    font-weight 800
    font-size 48px
    letter-spacing -0.05em
    color #001431
    +mq(0, 767px)
      font-size 32px
      line-height 39px
      text-align center
    +modifier(gr)
      text-align center
      margin 0 auto
      color rgba(0, 20, 49, 0.8)
      margin-bottom 62px
      +mq(0, 767px)
        font-size 24px
        line-height 1.2
        margin-bottom 25px
    +modifier(leader)
      margin-bottom 46px
      +mq(0, 767px)
        margin-bottom 25px
    +modifier(news)
      text-align center
      margin 0 auto
      margin-bottom 55px
      +mq(0, 767px)
        margin-bottom 25px
    +modifier(recall)
      text-align center
      margin 0 auto
      margin-bottom 55px
      +mq(0, 767px)
        font-size 24px
        line-height 1.2
        margin-bottom 25px