.settings
  +element(input-file)
    position absolute
    top 0
    right 0
    height 100%
    width 100%
    opacity 0
    margin 0
    padding 0    
  +element(input-file-wrapper)
    position relative
    border-radius 8px
    overflow hidden
  +element(input-fake-wrapper)
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background-color transparent
    cursor pointer