.menu
  max-width 470px
  justify-content space-between
  align-items center
  flex-grow 1
  margin-left auto
  display none
  &.active
    display flex
  +element(link)
    font-family 'Inter', sans-serif
    font-weight 800
    font-size 14px
    line-height 17px
    letter-spacing -0.05em
    text-decoration-line underline
    text-transform uppercase
    color #fff