.pencil
  position absolute
  top 0
  left 0
  width 40px
  height 40px
  display flex
  justify-content center
  align-items center
  background linear-gradient(180deg, #FFE600 0%, #FFB800 100%)
  border 1px solid #FFE600
  backdrop-filter blur(2px)
  cursor pointer
  z-index 99