.leader
  +element(content)
    max-width 665px
  +element(p)
    font-weight 300
    font-size 18px
    color #000
    line-height 1.4
    margin-bottom 24px
  +element(inner)
    display flex
    justify-content space-between
    align-items flex-start